main{
    font-size: 20px;
    border: 1px solid;
    background-color: #d8dde6;
}
#head{
    font-size: 18px;
    color: rgb(78, 78, 78);
    border-top: 0;
}

    main li{
        display: inline-block;
        width: 25%;
        text-align: center;
    }
    main ul{
        margin-block-start: 0;
        margin-block-end: 0;
        padding-inline-start: 0;
        padding: 10px;
        height: 30px;
        list-style-type: none;
        border-top: 1px solid;
        min-width: 460px;
    }
button{
    display: inline-block;
    font-size: 16px;
    background-color: rgba(36, 39, 240, 0.699);
    color: rgb(255, 255, 255);
    padding: 4px;
    width: 110px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
}
button:hover{
    background-color: rgb(0, 0, 255);
}